@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@layer components {
  .dashboard-layout {
    @apply flex min-h-screen flex-1 flex-row px-5 sm:px-10 md:px-16 w-full;
  }

  .admin-container {
    @apply flex flex-col w-full p-5 sm:p-10;
  }

  /* Sidebar */
  .admin-sidebar {
    @apply sticky left-0 top-0 flex h-dvh flex-col justify-between px-5 pb-5 pt-10 md:w-[240px];
  }

  .admin-sidebar .link {
    @apply flex flex-row items-center w-full gap-2 rounded-lg px-5 py-3.5 max-md:justify-center;
  }

  .admin-sidebar .link p {
    @apply text-base font-medium max-md:hidden;
  }

  .admin-sidebar .user {
    @apply my-8 flex w-full flex-row gap-2 rounded-full border px-6 py-2 shadow-sm max-md:px-2;
  }

  .admin-upload-div {
    @apply block space-y-8 md:space-y-0 md:flex justify-between;
  }

  .admin-inputs-div {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8;
  }

  .submit-btn {
    @apply md:w-[20%] w-full tracking-wider text-lg text-black float-right mb-4 sm:mt-8;
  }

  /* Header */
  .admin-header {
    @apply flex lg:items-end items-start justify-between lg:flex-row flex-col gap-5 mb-5;
  }

  /* Search */
  .admin-search {
    @apply flex border min-h-14 items-center gap-1 rounded-lg px-4 lg:max-w-md w-full;
  }

  .admin-search_input {
    @apply w-full border-0 shadow-none bg-transparent outline-none focus:outline-none focus:ring-0 focus:border-0;
  }
}
